MANIFEST
build/*
dist/*
*.pyc
.pydevproject
.project
*~
test/*.wig
test/*.bed

test/log
test/test*_run_*
test/subcommandstest_run_*
test/__pycache__

.DS_Store

SAPPER.egg-info
SAPPER/SAPPER/*.c
SAPPER/*.c

.pytest_cache
.cache